.body .content .techniques{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: var(--exercise-font);
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    min-height: 100vh;
    margin: 0;
    background-size: 100% auto;
    color: #000;
    font-family: IBM Plex Mono,Menlo,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier,"monospace";
}
.header-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: fit-content;
    z-index: 500;
    background: #000563;
    color: #f5f5f5;
}
.header-container .header{
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    flex: 1;
}
.header-container .header .logo{
    height: 36px;
    margin: 2px 0 2px 10px;
    padding: 5px 10px;
    display: block;
    border-radius: 5px;
    background: transparent;
}
.header-container .header .logo img{
    height: 40px;
}
.header-container .main-menu{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    object-position: center;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}
.header-container .main-menu .home{
    height: 36px;
    margin: 2px 0 2px 10px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    background: transparent;
}
.header-container .main-menu .home img{
    height: 40px;
}
.header-container .main-menu .home h2{
    display: flex;
    align-items: center;
}
.header-container .main-menu .universe{
    height: 36px;
    margin: 2px 0 2px 10px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    background: transparent;
}
.header-container .main-menu .universe img{
    height: 40px;
}
.header-container .main-menu .universe h2{
    display: flex;
    align-items: center;
}
.header-container .main-menu .reviews{
    height: 36px;
    margin: 2px 0 2px 10px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    background: transparent;
}
.header-container .main-menu .reviews img{
    height: 40px;
}
.header-container .main-menu .reviews h2{
    display: flex;
    align-items: center;
}
.header-container .main-menu .feedback{
    height: 30px;
    margin: 4px 0 4px 10px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    background: white;
}
.header-container .main-menu .feedback img{
    height: 40px;
}
.header-container .main-menu .feedback h2{
    display: flex;
    align-items: center;
    color: lightgreen;
}
.header-container .main-menu .doelen{
    height: 36px;
    margin: 2px 0 2px 10px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    background: transparent;
}
.header-container .main-menu .doelen img{
    height: 40px;
}
.header-container .main-menu .doelen h2{
    display: flex;
    align-items: center;
}
.header-container .main-menu .leaderboard{
    height: 36px;
    margin: 2px 0 2px 10px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    background: transparent;
}
.header-container .main-menu .leaderboard img{
    height: 40px;
}
.header-container .main-menu .leaderboard h2{
    display: flex;
    align-items: center;
}
.header-container .main-menu .meer{
    height: 36px;
    margin: 2px 0 2px 10px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    background: transparent;
}
.header-container .main-menu .meer img{
    height: 40px;
}
.header-container .main-menu .meer h2{
    display: flex;
    align-items: center;
}
.header-container .acountinfo{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    padding-right: 10px;
    margin-left: 20px;
    flex: 1;
}
.header-container .acountinfo .procentBar{
    display: flex;
    justify-content: center;
    height: 30px;
    margin: 10px 0 4px 0;
    padding: 0 10px 0 0;
    border-radius: 5px;
    background-color: #87dbe5;
}
.header-container .acountinfo .procentBar .procentBar2{
    display: flex;
    justify-content: flex-start;
    width: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background: #2497a5;
}
.header-container .acountinfo .procentBar h2{
    display: flex;
    align-items: center;
}
.header-container .acountinfo .credits{
    height: 36px;
    margin: 2px 0 2px 10px;
    padding: 5px 10px 5px 0;
    display: flex;
    border-radius: 5px;
    background: transparent;
}
.header-container .acountinfo .credits img{
    height: 40px;
}
.header-container .acountinfo .credits h2{
    display: flex;
    align-items: center;
}
.header-container .acountinfo .profile{
    height: 36px;
    margin: 4px 0 2px 10px;
    display: flex;
    border-radius: 50%;
    background: transparent;
}
.header-container .acountinfo .profile img{
    height: 30px;
    margin: 3px 0 2px 8px;
    padding: 4px 4px;
    border-radius: 50%;
    background: white;
}
.header-container .acountinfo .profile h2{
    display: flex;
    align-items: center;
}
.container{
    display: flex;
    justify-content: flex-start;
    margin: 5% 10%;
    height: 70%;
}
.container .main-info{
    display: flex;
    flex-direction: column;
    padding-right: 5%;
    height: 100%;
    width: 100%;

}
.container h1, .container h2{
    display: flex;
    margin: 10px 2px;
    font-weight: bolder;
    font-size: larger;
}
#info{
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(193, 193, 193);
    background-color: #f5f5f5;
    width: 100%;
}
table{
    border-collapse: collapse;
}
tr{
    border-bottom:1px groove;
    border-color: rgb(255, 255, 255);
}
#info td, #info th{
    padding: 2px 10% 2px 0;
    margin: 2px 10% 2px 0;
}
#info th{
    width: 10%;
    font-size: small;
    color: rgb(126, 122, 122);
}

#text, #text1 {
    padding: 10px 1px 10px 10px;
    border-radius: 5px;
    color: #fff;
    background-color: #56bd8d;
}
.extrainfo{
    display: flex;
    flex-direction: column;
    padding:2%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(193, 193, 193);
    background-color: #f5f5f5;
    width: 20%;   
}